@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  position: relative;
}

.purple {
  color: #6415FF;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 16px;
}

.logo__box {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 900;
  font-size: 24px;
  color: #243e63;
  letter-spacing: 1px;
  transition: 300ms;
}

.logo__box:hover {
  color: #6415FF;
}

.logo__img {
  width: 40px;
  margin: 16px;
}

.nav__links {
  font-size: 14px;
}

.nav__link {
  text-decoration: none;
  margin: 0 24px;
  color: #243e63;
}

.nav__link:hover {
  color: #6415FF;
}

ul {
  display: flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.5px;
}

li {
  list-style-type: none;
}

.nav__login--link {
  margin: 0 8px 0 48px;
}

.nav__signup--link {
  background-color: #6415FF;
  color: #f7fafc;
  padding: 12px 32px;
  border-radius: 20px;
}

.nav__signup--link:hover {
  background-color: #5511cc;
  text-decoration: none;
  transition: 300ms;
}

.link__hover-effect {
  position: relative;
  text-decoration: none;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #6415FF;
  bottom: -5px;
  right:0;
  opacity: 0;
  transition: all 300ms;
}

.link__hover-effect:hover:after {
  width: 100%;
  opacity: 1;
  background-color: #6415FF;
}

/* 

LANDING SECTION 

*/

.landing {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  margin: 0 24px;
}

.landing__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 100%;
}

.initial__statement {
  padding-bottom: 48px;
  text-align: left;
  font-size: 48px;
}

.summary {
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 24px;
  color: #243e63;
  text-align: left;
}

.input {
  position: relative;
}

.email__input {
  padding: 20px 180px 20px 32px;
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 99px;
  border-style: solid;
  border-color: #e7e7e7;
  
  font-weight: 500;
}

.start__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 10rem;
  padding: 16px 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 8px 8px 8px 0;
  background-color: #6415FF;
  color: #f7fafc;
  font-size: 16px;
  font-weight: 700;
  border-radius: 99px;
}

.customers {
  padding-top: 80px;
}

.customer__img {
  width: 100%;
  opacity: .5;
}

.landing__img {
  width: 100%;
  padding-left: 48px;
}

.landing__img--box {
  width: 60%;
}