@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  position: relative;
}

h1 {
  color:#243e63;
}

.purple {
  color: #6415FF;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 80px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 16px 16px 0 16px;
}

.logo__box {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 900;
  font-size: 24px;
  color: #243e63;
  letter-spacing: 1px;
  transition: 300ms;
}

.logo__box:hover {
  color: #6415FF;
}

.logo__img {
  width: 40px;
  margin: 16px;
}

.nav__links {
  font-size: 14px;
}

.nav__link {
  text-decoration: none;
  margin: 0 24px;
  color: #243e63;
  transition: all 400ms;
}


ul {
  display: flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.5px;
}

li {
  list-style-type: none;
}

.nav__login--link {
  margin: 0 8px 0 48px;
}

.nav__signup--link {
  background-color: #6415FF;
  color: #f7fafc;
  padding: 12px 32px;
  border-radius: 20px;
}

.nav__signup--link:hover {
  background-color: #5511cc;
  text-decoration: none;
  transition: 300ms;
}

.link__hover-effect {
  position: relative;
  text-decoration: none;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #6415FF;
  bottom: -5px;
  right:0;
  opacity: 0;
  transition: all 300ms;
}

.link__hover-effect:hover:after {
  width: 100%;
  opacity: 1;
  background-color: #6415FF;
}

/* 

LANDING SECTION 

*/

.landing {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 96px 0;
  margin: 0 32px;
}

.landing__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 100%;
}

.initial__statement {
  padding-bottom: 48px;
  text-align: left;
  font-size: 36px;
}

.summary {
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 24px;
  color: #243e63;
  text-align: left;
}

.landing__img {
  width: 100%;
  padding-left: 48px;
}

.landing__img--box {
  width: 60%;
}

.input {
  position: relative;
}

.email__input {
  padding: 20px 180px 20px 32px;
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 99px;
  border-style: solid;
  border-color: #e7e7e7;
  opacity: 0.5;
  font-weight: 500;
}

.start__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 10rem;
  padding: 16px 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 8px 8px 8px 0;
  background-color: #6415FF;
  color: #f7fafc;
  font-size: 16px;
  font-weight: 700;
  border-radius: 99px;
  border-width: 0;
  transition: all 400ms;
}

.start__button:hover {
  background-color: #5511cc;
  cursor: pointer;
}

.customers {
  padding-top: 80px;
}

.customer__img {
  width: 100%;
  opacity: .5;
  margin-top: 16px;
  padding: 0 64px 0 0;
}

.sponsors {
  opacity: 0.4;
  font-weight: 700;
  font-size: 12px;
}

/* 

FEATURES

*/

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature__header {
  text-align: center;
}

.service__statement {
  text-align: center;
}

.features__summary {
  display: flex;
  text-align: center;
  max-width: 300px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service {
  display: flex;
  width: calc(100%/3);
  padding: 32px 8px;
  align-items: flex-start;
}

.service__img {
 vertical-align: middle;
}

.img__container {
  padding: 1.25rem;
  border-style: solid;
  border-radius: 50%;
  border-width: 2px;
  color: #e7e7e7;
  
}

.service__description {
  display: flex;
  flex-direction: column;
  margin: 8px 0 0 16px;
}

.description {
  padding-top: 16px;
  line-height: 2rem;
  font-size: 18px;
  font-weight: 500;
}